In [37]:
import pandas as pd
import csv
csv_data = csv.reader(open('abc.csv'))
df = pd.DataFrame()
a,b,c,d,e,f = [],[],[],[],[],[]
for data in csv_data:
    print(data)
    if len(data) == 6:
        a.append(data[0])
        b.append(data[1])
df['id'],df['email'] = a,b

['id', 'email', 'fullname', 'mobile', 'leadfrom', 'handleby']
['1', 'abc@gmail.com', 'abc', '1234', 'fb', 'ram']
['2', 'asdf@gmail.com', 'asdf', '345467', 'fb', 'subbu']

In [38]:
df

   id           email
0  id           email
1   1   abc@gmail.com
2   2  asdf@gmail.com

In [22]:
df['name']=['asd']
df['name']

0    asd
Name: name, dtype: object

In [20]:
df

Empty DataFrame
Columns: [id, email, fullname, name]
Index: []

In [4]:
import csv
a = []
with open('abc.csv') as file:
    csvfile = csv.reader(file)
    for i in csvfile:
        print(i)
        a.append(i)

['id', 'email', 'fullname', 'mobile', 'leadfrom', 'handleby']
['1', 'abc@gmail.com', 'abc', '1234', 'fb', 'ram']
['2', 'asdf@gmail.com', 'asdf', '345467', 'fb', 'subbu']